* {
  font-family: monospace;
}

body {
  background-image: url(../images/body.jpg);
  background-size: cover;
	background-position: center;
  background-attachment: fixed;
}

li {
	border: 2px black solid;
	list-style: none;
	text-align: center;
	color: pink;
  background-color: black;
	padding-top: 20px;
  height: 10vh;
  font-size: 25px;
	border-radius: 10px;
}

li:hover {
  color: black;
  background-color: pink;
	transition: .3s ease-out;
}

ul {
	padding: 0px;
	display: grid;
	grid-template-rows: repeat(3,1fr);
	grid-gap: 15px;
}

a {
	text-decoration: none;
}

.header {
  height: 20vh;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr;
	border-radius: 10px;
}

.logo {
	background-image: url(../images/logo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	border-radius: 50%;
	height: 20vh;
	width: 20vh;
}

.title {
  font-size: 30px;
}

.abi {
  display: grid;
  grid-template-columns: 2fr 1fr;
  height: 50vh;
  margin-top: 5px;
	border-radius: 10px;
}

.picture {
	background-image: url(../images/concept.jpg);
	background-size: cover;
	background-position: center;
  border: 2px black solid;
  height: 50vh;
  text-align: center;
	border-radius: 10px;
}

.picture:hover {
	background-image:url(../images/hover.jpg);
	background-size: cover;
	background-position: center;
	transition: .3s ease-out;
}

.menu {
  margin-left: 5px;
  display: grid;
  grid-template-rows: 3fr;
	border-radius: 10px;
}

.menu2 {
  list-style: none;
  text-align: center;
  height: 50vh;
	border-radius: 10px;
}

.second {
  height: 50vh;
  grid-template-columns: 2fr 1fr;
  display: grid;
  margin-top: 10px;
	border-radius: 10px;
}

.text {
  background-color: pink;
  border: 2px black solid;
  text-align: center;
	border-radius: 10px;
	font-size: 32px;
}

.photo {
	background-image: url(../images/photo.jpg);
	background-size: cover;
  border: 2px black solid;
  margin-left: 5px;
  text-align: center;
	border-radius: 10px;
}

.third {
  height: 50vh;
  grid-template-columns: 1fr 2fr;
  display: grid;
  margin-top: 10px;
	border-radius: 10px;
}

.teaser {
	background-image: url(../images/rm.jpg);
	background-size: cover;
  border: 2px black solid;
  text-align: center;
	border-radius: 10px;
}

.thumbnail {
	background-image: url(../images/photo2.jpg);
	background-size: cover;
	background-position: center;
  border: 2px black solid;
  margin-left: 5px;
  text-align: center;
	border-radius: 10px;
}

.thumbnail:hover {
  background-image: url(../images/hover2.jpg);
  background-size: cover;
  transition: .3s ease-out;
}

.fourth {
  height: 30vh;
  grid-template-columns: 1fr 2fr;
  display: grid;
  margin-top: 10px;
	border-radius: 10px;
}

.text2 {
  background-color: pink;
  border: 2px black solid;
  text-align: center;
	border-radius: 10px;
	font-size: 26px;
}

.text3 {
  background-color: pink;
	font-size: 28px;
  border: 2px black solid;
  margin-left: 5px;
  text-align: center;
	border-radius: 10px;
}
